#search-button{
    width: block;
}

.mainCard-style{
    background-color: #2C74B3;
    color: white;
}

.card-style{
    background-color: #0A2647;
    color: white;
}

.btn-primary{
    background-color: #2C74B3;
}

.btn-primary:hover{
    background-color: #0A2647;
}